h1 {
color: red;
}
.first_paragraph {
color: green;
}
.add_underline {
text-decoration: underline;
}
#only_one_allowed {
color: blueviolet;
}
div .first_paragraph {
text-transform: uppercase;
}
.first_paragraph {
text-shadow: 1px 1px 5px red;
}